html, body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  /* background-color: transparent !important; */
}

html {
  box-sizing: border-box;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

/* Fonts */
@font-face {
  font-family: 'sr-font';
  src: url('./fonts/sr-font-bold.woff2') format('woff2'),
      url('./fonts/sr-font-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'sr-font';
  src: url('./fonts/sr-font.woff2') format('woff2'),
      url('./fonts/sr-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.no-opacity {
  opacity: 0;
}
.fade-in {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}

@keyframes fadeout {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.draggable {
  -webkit-app-region: drag !important;
}

.center {
  text-align: center;
}

.launcher-wrap {
  width: 1130px;
  height: 610px;
  position: relative;
}
.launcher-bg {
  position: absolute;
  left:0px;
  top:0px;
  width: 1130px;
  height: 610px;
  z-index: -1;
  background-image: url("./img/pc-background.png");
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
}
.drag-wrap {
  position: absolute;
}

.main-section {
  width: 100%;
  height: 500px;
  padding: 0 50px 16px 35px;
}
.content-section {
  display: flex;
}
.left-section {
  width: 555px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-basis: 555px;
  display: flex;
}
.right-section {
  position: relative;
  width: 100%;
  margin: 0 30px 0 30px;
}
.bottom-section {
  display: flex;
  padding: 25px 80px 0 35px;
  width: 100%;
}
.header-section {
  -webkit-app-region: drag;
  display: flex;
}
.header-section * {
  -webkit-app-region: no-drag;
}

.window-management {
  position: absolute;
  top: 28px;
  right: 50px;
  z-index: 1000;
}
.window-management .window-button {
  height: 32px;
  width: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.window-management .window-button:hover {
  opacity: 0.8;
}
.window-management .window-button:focus, .window-management .window-button:active {
  opacity: 1;
}
.window-management #minimize.window-button {
  background-image: url("./img/buttons/window-minimize.png");
}
.window-management #close.window-button {
  background-image: url("./img/buttons/window-close.png");
}

.window-management #help {
  color: #fff;
  text-shadow: 0 0 9px #000, 0 0 4px #000;
  background-color: rgba(20, 13, 13, 0.4);
  width: 20px;
  height: 20px;
  position: relative;
  top: -9px;
  margin: 0 1px;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  cursor: help;
  border-radius: 100%;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.window-management #help:hover {
  background-color: rgba(20, 13, 13, 0.8);
}
.window-management #help:disabled {
  cursor: not-allowed;
}
.window-management #help:hover:disabled {
  background-color: rgba(20, 13, 13, 0.4);
}
.window-management #help[tooltip]::after,.window-management #help[tooltip]::before {
  display: none;
}
.window-management #help:disabled[tooltip]::after,.window-management #help:disabled[tooltip]::before {
  display: block;
}
.window-management #help[tooltip]::after {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

a {
  color: #b80000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:active, a:focus {
  color: #570707;
}
button:focus {
  outline: none;
}
p, span {
  margin: 0;
  font-size: 14px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
hr {
  border: none;
  margin: 12px 0;
  border-top: 1px solid #aaa;
}
.text-small {
  font-size: 12px;
}
.logo {
	width:305px;
}
.pc-logo {
  position: relative;
  top: 12px;
  /* filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%); */
}
#headerLinks {
  margin-top: 60px;
  padding-left:270px;
}
#headerLinks > .text-link {
  padding: 2px 14px 2px;
  border-right: 1px solid #000;
  font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
#headerLinks > .text-link {
  color: #000;
}
.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #af0000,
    1px -1px 0 #af0000,
    -1px 1px 0 #af0000,
    1px 1px 0 #af0000;  
}
#headerLinks > .text-link:hover, #headerLinks > .text-link:active, #headerLinks > .text-link:focus {
  color: #fff;
}
#headerLinks > .patch-notes-title {
  font-size: 27px;
  color: #000;
  padding: 1px 14px 0 0;
}
#headerLinks > .btn-links {
  height: 17px;
  width: 17px;
  display: inline-block;
  margin: 2px 0 0 12px;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.btn-links.btn-discord {
  background-image: url("./img/links/link-discord.png"), url("./img/links/link-discord-hover.png");
}
.btn-links.btn-discord:hover {
  background-image: url("./img/links/link-discord-hover.png");
}
.btn-links.btn-facebook {
  background-image: url("./img/links/link-facebook.png"), url("./img/links/link-facebook-hover.png");
}
.btn-links.btn-facebook:hover {
  background-image: url("./img/links/link-facebook-hover.png");
}

.patch-notes-wrapper {
  height: 365px;
  width: 425px;
  position: relative;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid #ddd;
  margin-top: 40px;
  padding-right: 16px;
}
.patch-notes-wrapper .patch-notes-view {
  width: 406px;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.patch-notes-wrapper .patch-notes-refresh {
  position: absolute;
  top: 14px;
  right: 24px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("./img/buttons/btn-refresh.png");
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.patch-notes-wrapper:hover .patch-notes-refresh {
  opacity: 0.5;
}
.patch-notes-wrapper:hover .patch-notes-refresh:hover {
  opacity: 0.8;
}
.patch-notes-wrapper .patch-notes-refresh.spinner {
  cursor: default;
  opacity: 0.8 !important;
}
.patch-notes-wrapper .patch-notes-refresh.hidden {
  cursor: default;
  opacity: 0 !important;
}

.right-section-container {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 35px;
}

#mainButtonLinks {
	margin-top: 40px;
  margin-left: 5px;
  width: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
 }
.button-link {
  height: 100%;
  display: inline-block;
  background-size: auto;
  /* background-position: bottom center; */
  background-repeat: no-repeat;
}
.button-link:hover, .button-link:focus {
  opacity: 0.85;
}
.button-link:active {
  opacity: 1;
}
.button-link.button-resources {
  background-image: url("./img/buttons/btn-link-gh.png");
  background-size: cover;
  /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
  background-color: transparent !important;
  border: none;
  width: 60px;
  height: 60px;
}

.button-link.button-skillplanner {
  background-image: url("./img/buttons/btn-link-skillplanner.png");
}
.button-link.button-mantis {
  background-image: url("./img/buttons/btn-link-mantis.png");
}
.button-link.button-topg {
  /* background-image: url("./img/buttons/btn-link-topg.png"); */
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
  background-color: transparent !important;
  border: none;
  width: 50px;
  height: 50px;
}
.button-link.button-donate {
  background-image: url("./img/buttons/btn-link-donate.png");
  background-size: cover;
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
  background-color: transparent !important;
  border: none;
  width: 50px;
  height: 60px;
}

.button-link.discord-button {
  margin-left: 4px;
  background-image: url("./img/buttons/discord_50.png");
  background-size: cover;
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
  background-color: transparent !important;
  border: none;
  width: 40px;
  height: 40px;
}

.sr-button {
  font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  padding: 9px 18px;
  border: 1px solid #fff;
  background-color: #af0000;
  outline: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.sr-button:hover {
  border-color: #af0000;
  background-color: #fff;
  color:#af0000;
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
}
.sr-button:active {
  /* border-color: #af0000;
  background-color: #fff;
  color:#af0000; */
  border-color: #af0000;
  background-color: #fff;
  color:#af0000;
}
.sr-button:disabled {
  cursor: not-allowed;
  background-color: #140d0d !important;
  border-color: #af0000 !important;
}

.sr-button.sr-btn-icon {
  text-align: center;
  position: relative;
  display: inline-block;
}
.sr-button.sr-btn-icon-left {
  padding: 11px 20px 11px 48px;
}
.sr-button.sr-btn-icon-right {
  padding: 11px 48px 11px 20px;
}
.sr-button.sr-btn-icon-left::after {
  left: 0;
}
.sr-button.sr-btn-icon-right::after {
  right: 0;
}
.sr-button.sr-btn-icon::after {
  content: '';
  position: absolute;
  top: 0;
  height: 45px;
  width: 45px;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.options-buttons {
	margin-top: 75px;
	margin-left: 50px;
}
.option-button {
  width: 180px;
  display: inline-flex;
  font-size: 22px;
  font-weight: 400;
  background-color: black;
}
.option-button.sr-button.sr-btn-icon::after {
  top: 1px;
  left: 6px;
}
.option-button.active {
  background-color: #fff;
  color:#af0000;
}
#gameConfigBtn {
margin-left:15px;
}
#gameConfigBtn::after {
  background-image: url("./img/icons/icon-game-config.png"),url("./img/icons/icon-game-config-hover.png");
}
#gameConfigBtn:hover::after {
  background-image: url("./img/icons/icon-game-config-hover.png");
}
#gameConfigBtn.active::after {
  background-image: url("./img/icons/icon-game-config-hover.png");
}

#swgOptionsBtn::after {
  background-image: url("./img/icons/icon-swg-options.png"),url("./img/icons/icon-swg-options-hover.png");
}
#swgOptionsBtn:hover::after {
  background-image: url("./img/icons/icon-swg-options-hover.png");
}
#swgOptionsBtn:disabled::after {
  background-image: url("./img/icons/icon-swg-options.png");
}

.progress-container {
  width: 82%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-basis: 82%;
}
.play-button-container {
  width: 100%;
  margin-left: 20px;
}

.play-button-container #play, .play-button-container #play:focus {
  width: 100%;
  font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 0;
  border: 1px solid #af0000;
  background-color: #af0000;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.play-button-container #play:hover {
  background-color: #fff;
  color: #af0000;
}
.play-button-container #play:active {
  border-color: #af0000;
  background-color: #af0000
}

.play-button-container #play:disabled {
  cursor: not-allowed;
  background-color: #140d0d !important;
  border-color: #af0000 !important;
}

#cancelBtn {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(255,255,255,0.7);
  background-color: transparent;
  border: none;
  padding: 1px 0 2px;
  margin: 0;
  cursor: pointer;
  float: right;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
#cancelBtn:hover {
  color: rgba(255,255,255,1);
}
#cancelBtn:active {
  color: rgba(255,255,255,0.85);
}
#cancelBtn: focus {
  color: rgba(255,255,255,0.7);
}
#cancelBtn:disabled {
  color: rgba(255,255,255,0);
  cursor: default;
}

#progresstext {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(255,255,255,1);
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
#progresstext.complete {
  color: rgba(0,0,0,0);
}

.progress-bar {
  height: 8px;
  width: 100%;
  margin-top: 8px;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.7);
  box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.7);
}

#progress {
  height: 8px;
  background: -webkit-linear-gradient(left, rgba(0,150,175,1) 0%,rgba(0,150,175,1) 85%,rgba(0,39,46,1) 100%);
  background: linear-gradient(to right, rgba(0,150,175,1) 0%,rgba(0,150,175,1) 85%,rgba(0,39,46,1) 100%);
  filter: invert(15%) sepia(98%) saturate(5100%) hue-rotate(8deg) brightness(94%) contrast(131%);
}

.server-stats {
  color: #fff;
  font-family: 'sr-font';
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 7px;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}
.server-stats span {
  font-family: 'sr-font';
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}
.server-stat-data {
  display: inline-block;
  margin-right: 25px;
  max-width: 400px;
  overflow: hidden;
}
#serverStatus {
  width: 75px;
}
#activeServer {
  width: 200px;
}
#progresstext, .server-stats {
  cursor: default;
}

.config-section-container {

}
#configSection {
  height: 200px;
  position: relative;
  background-color: rgba(255,255,255,0.97);
  border: 2px solid #af0000;
  box-shadow: 0 2px 9px rgba(0,0,0,0.3);
  margin-left: -40px;
  z-index:4;
}
.config-section-arrow {
  position: absolute;
  bottom: -30px;
  right: 65px;
  height: 30px;
  width: 42px;
  overflow: hidden;
}
.config-section-arrow:after {
  content: '';
  display: block;
  position: relative;
  top: -15px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(255,255,255,0.97);
  border-right: 2px solid #570707;
  border-bottom: 2px solid #420000;
  transform: rotate(45deg);
  box-shadow: 0 2px 9px rgba(0,0,0,0.3);
}
.config-section-header {
	width: 100%;
	padding: 4px 6px;
	background-color: #af0000;
	color: #fff;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.config-options {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000;
  display: flex;
  padding: 0px 7px;
}
.config-row {
  display: flex;
}
.config-col {
  width: 50%;
  padding: 0 7px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-basis: 50%;
}
.config-col-full {
  padding: 0 7px;
}
.config-scroll {
  height: 157px;
  border-right: solid 7px transparent;
  overflow-y: scroll;
}
.config-scroll::-webkit-scrollbar { width: 6px; }
.config-scroll::-webkit-scrollbar-track { background-color: transparent; border-radius: 100%;}
.config-scroll::-webkit-scrollbar-thumb { background-color: #000; border-radius: 6px; }
.config-scroll::-webkit-scrollbar-button { height: 16px; background-color: transparent;}
.config-scroll::-webkit-scrollbar-corner { background-color: #000;}
.row {
  margin-bottom: 4px;
  display: flex;
}
.col-1 {
  width: 16.66%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.664%;
}
.col-5 {
  width: 83.33%;
}
.col-6 {
  width: 100%;
}

.col-spacer-6 {
  margin-left: 6px;
}
.full-width {
  width: 100%;
}

.config-label {
  color: #000;
  font-family: 'sr-font';
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 2px;
  margin: 0 0 4px;
  border-bottom: 1px solid #af0000;
}
.sr-button-sm {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 6px 8px;
  border: 1px solid #af0000;
  background-color: #af0000;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.sr-button-sm:hover {
  background-color: #fff;
  color:#af0000;
}
.sr-button-sm:active {
  border-color: #af0000;
  background-color: #fff;
  color:#af0000;
}
.sr-button-sm:disabled {
  cursor: not-allowed;
  background-color: #140d0d !important;
  border-color: #af0000 !important;
}
.sr-button-sm.full-width {
  width: 100%;
}
.sr-button-sm.uppercase {
  text-transform: uppercase;
}

a.sr-button-sm {
  display: inline-block;
}
a.sr-button-sm:hover {
  color: #fff;
}
a.sr-button-sm:active {
  color: #fff;
}
a.sr-button-sm:focus {
  color: #fff;
  border-color: #fff;
  background-color: #af0000;
}

input {
  height: 25px;
  font-size: 12px;
  color: #444;
  border: none;
  background-color: #ddd;
  border-radius: 3px;
  padding: 0 4px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
input:focus {
  border-bottom: 1px solid #af0000;
  outline: none !important;
}
#browse {
  width: 100%;
  text-transform: uppercase;
}
.browse-column {
  margin-left: 8px;
}
#folder {
  width: 100%;
}

.game-directory-input:disabled {
  font-family: 'Helvetica', 'Arial', sans-serif;
  height: 25px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  color: #444;
  border: none;
  background-color: rgba(200,200,200,0.2);
  padding: 4px 8px;
}

.config-label-sm {
  color: #555;
  font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

select {
  border: none;
  font-size: 12px;
  padding: 4px 0;
  border-bottom: 1px solid #bbb;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
select:focus {
  border-bottom: 1px solid #af0000;
  outline: none !important;
}

.float-right {
  float: right;
}

button.tooltip {
  color: rgba(255,255,255,1);
  background-color: rgba(40,40,40,0.8);
  width: 14px;
  height: 14px;
  padding: 0;
  margin-top: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-transform: lowercase;
  text-align: center;
  border-radius: 100%;
  border: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
button.tooltip:hover {
  background-color: rgba(0,0,0,1);
}

[tooltip]{
  position:relative;
  display:inline-block;
}
[tooltip]::before {
  content: "";
  position: absolute;
  top:-6px;
  left:50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(20,20,20,0.95) transparent transparent transparent;
  z-index: 99;
  opacity:0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

[tooltip-position=left]::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg);
}
[tooltip-position=top]::before{
  left:50%;
}
[tooltip-position=buttom]::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}
[tooltip-position=right]::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:-6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(20,20,20,0.95);
  text-align: center;
  color: #fff;
  font-size: 12px;
  min-width: 200px;
  text-transform: initial;
  border-radius: 2px;
  pointer-events: none;
  padding: 9px 6px;
  z-index: 99;
  opacity:0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

[tooltip-position=left]::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position=top]::after{
  left:50%;
}
[tooltip-position=buttom]::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position=right]::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.config-prompt-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.config-prompt-overlay .config-options {
  height: 169px;
  width: 100%;
  background-color: #fbfbfb;
  display: block;
}
.config-prompt-overlay .config-prompt-arrow {
  position: absolute;
  bottom: -26px;
  right: 65px;
  height: 30px;
  width: 42px;
  overflow: hidden;
}
.config-prompt-overlay .config-prompt-arrow:after {
  content: '';
  display: block;
  position: relative;
  top: -15px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fbfbfb;
  transform: rotate(45deg);
}
.config-prompt {
  display: none;
}
.config-prompt.active {
  display: block;
}
.config-prompt-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 12px;
  height: 10px;
  cursor: pointer;
  padding: 8px;
  box-sizing: content-box;
  background-image: url("./img/buttons/prompt-close.png");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.config-prompt-close:hover {
  opacity: 0.8;
}
.config-prompt-close:focus, .config-prompt-close:active {
  opacity: 1;
}
.config-prompt-overlay .config-col-full .config-label {
  margin: 0 7px 4px;
}
.config-prompt p {
  font-size: 12px;
  margin: 9px 0;
}

#gameDirPrompt .alert-msg {
  margin-top: 0;
}
#gameDirPrompt .config-col-full {
  margin-top: 8px;
}

.config-prompt-overlay #helpInfoPrompt p {
  margin:  0 0 9px;
}
.config-prompt-overlay #helpInfoPrompt .config-label {
  margin: 0 0 9px;
}
.config-prompt-overlay #helpInfoPrompt .config-options {
  background-image: url("./img/pc-tiny.jpg");
  background-size: auto;
  background-position: 96% 92%;
  background-repeat: no-repeat;
}

.config-prompt-overlay #setupCompletePrompt .config-options {
  background-image: url("./img/pc-tiny.jpg");
  background-size: auto;
  background-position: 96% 6%;
  background-repeat: no-repeat;
}

.config-prompt-overlay p.sm, .config-prompt-overlay span.sm {
  font-size: 11px;
}

.button.game-setup {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-animation: noticeMeSenpai 4.5s infinite;
  animation: noticeMeSenpai 4.5s infinite;
}
.button.game-setup:hover {
  -webkit-animation: 0;
  animation: 0;
  background-color: #570707 !important;
}

.alert-msg {
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 9px 12px;
  margin-top: 12px;
  text-align: center;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}
.alert-msg strong {
  margin-right: 8px;
}
.alert-msg.success {
  color: #fff;
  background-color: rgba(20,20,20, 0.8);
  border-color: #570707;
}
.alert-msg.fail {
  color: #fff;
  background-color: rgba(0, 150, 175, 0.8);
  border-color: #b80000;
}

@keyframes noticeMeSenpai {
  0%  { background-color: #b80000; }
  20% { background-color: #570707; }
  40% { background-color: #b80000; }
}

@-webkit-keyframes noticeMeSenpai {
  0%  { background-color: #b80000; }
  20% { background-color: #570707; }
  40% { background-color: #b80000; }
}

.spinner {
  animation: spin 3s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}